@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

:root {
  --primary-color: hsl(192, 36%, 21%);
  --primary-color-light: hsl(192, 62%, 61%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  /* overflow: hidden; */
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  background-color: var(--primary-color-light);
  color: #23424a;
  border: none;
  border-radius: 31px;
  padding: 1rem 3rem;
  font-size: 1.31rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.25s;
  margin-top: 2rem;
}

.btn:hover {
  box-shadow: 2px 8px 10px rgb(0 0 0 / 0.6);
  cursor: pointer;
}

.nav__link--btn {
  background-color: #fff;
  color: #136c72;
  border-radius: 30px;
  padding: 0.25em 0.75em;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #136c72;
  padding: 1em 0;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  color: #fff;

  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.nav__list--main-sec,
.nav__list--sign-sec {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  /* border: 4px solid yellow; */
}

.nav__list--main-sec {
  margin: 0 auto;
}

.nav__item + .nav__item {
  margin-left: 20px;
}

.nav__link,
.nav__link--btn {
  cursor: pointer;
  text-transform: uppercase;

  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.2s ease-in;
}

.nav__link:hover::after {
  transform: scaleX(1);
}

.logo {
  margin-right: 2rem;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  /* border: 3px solid #fff; */
  display: none;
}

.menu-btn__burger {
  width: 20px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.menu-btn__burger::after,
.menu-btn__burger::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.menu-btn__burger::after {
  transform: translateY(-8px);
}

.menu-btn__burger::before {
  transform: translateY(8px);
}

/* Animation */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
/* .nav__item:nth-last-child(2) {
  margin-left: auto;
} */

/* .nav__item:nth-child(-n + 3) {
} */

.hero {
  background-color: var(--primary-color);
  color: white;
  padding: 100px 0;
}

.hero-content {
  width: 60%;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
}

.hero-content p {
  opacity: 0.7;
  font-size: 1.31rem;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.5;
}

.hero__img {
  width: 40%;
  align-self: flex-start;
}

.section {
  padding: 75px 0;
}

.section h1 {
  color: #87629a;
  font-size: 36px;
  font-weight: 900;
}

.row {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.col {
  text-align: center;
}

.section-one {
  background-color: #136c72;
  color: white;
  padding: 75px 0;
}

/* __________________________ */
/* Level Up Button */
/* __________________________ */

.lvlup {
  margin: 0 auto;
}

a .lvlupbtn {
  padding: 1rem 3rem;
  margin: 2rem 0;

  background-color: #136c72;
  color: white;
  border: none;
  border-radius: 100px;

  font-size: 2rem;
  font-weight: 700;

  transition-duration: 0.25s;
}

a:hover .lvlupbtn {
  box-shadow: 2px 8px 10px rgb(0 0 0 / 0.6);
  cursor: pointer;
}

/* __________________________ */

/* Level Up page */

.right-col {
  background-color: #136c72;
  color: white;
  text-align: center;

  padding: 3rem;
  margin: 1.85rem 0;

  width: 40%;
}

.left-col {
  color: #136c72;
  width: 60%;
}

.left-col h1 {
  font-size: 2.25rem;
}

/* __________________________ */

@media (max-width: 750px) {
  .container {
    margin: 0 auto;
    text-align: center;
  }

  .hero-content {
    width: 100%;
    z-index: -1;
  }

  .row {
    display: block;
  }

  .col + .col {
    margin-top: 60px;
  }

  .hero__img {
    display: none;
  }

  .right-col {
    width: 100%;
  }

  .left-col {
    width: 100%;
  }

  .nav__list {
    display: none;
  }

  .menu-btn {
    display: flex;
    text-align: left;
  }

  .nav__list.expanded {
    transition: all 0.5s ease-in-out;
    display: block;
    position: absolute;
    top: 61px;
    left: 0;
    background-color: #136c72;
    width: 100%;
    z-index: +1;
    box-shadow: 0px 8px 15px hsl(184 71% 36% / 0.4);
  }

  .nav__list.expanded .nav__list--main-sec,
  .nav__list.expanded .nav__list--sign-sec {
    display: block;
  }

  .nav__list.expanded .nav__item {
    margin: 0px;
    padding: 30px 15px;
  }

  .nav__list.expanded .nav__item:hover {
    background-color: hsl(184, 71%, 66%);
  }

  .nav__list.expanded .nav__link--btn {
    background: none;
    color: #fff;
    border-bottom: 3px solid hsl(192, 62%, 61%);
  }
}
